<h3><%= t('helpers.new', model: Comment.model_name.human) %></h3>
<%= form_with(model: [commentable, new_comment]) do |form| %>
  <div class="field">
    <%= form.text_area :body, size: '100x6' %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<% commentable.comments.each do |comment| %>
   <%= react_component('Comment', text: comment.body, createdAgo: t('created_ago', ago: t('ago', from_time: time_ago_in_words(comment.created_at)))) %>
<% end %>
