<% content_for(:page_title) { Link.model_name.human(count: 2) } %>
<table>
  <thead>
    <tr>
      <th><%= Link.human_attribute_name('title') %></th>
      <th><%= Link.human_attribute_name('url') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= truncated_link_to(link, :title) %></td>
        <td><%= link.url %></td>
        <td><%= link_to t('helpers.edit'), edit_link_path(link) %></td>
        <td><%= link_to t('helpers.destroy'), link, method: :delete, data: { confirm: t('confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to t('helpers.new', model: Link.model_name.human), new_link_path %>
