<% content_for(:page_title) { Post.model_name.human(count: 2) } %>
<table>
  <thead>
    <tr>
      <th><%= Post.human_attribute_name('title') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= truncated_link_to(post, :title) %></td>
        <td><%= link_to t('helpers.edit'), edit_post_path(post) %></td>
        <td><%= link_to t('helpers.destroy'), post, method: :delete, data: { confirm: t('confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to t('helpers.new', model: Post.model_name.human), new_post_path %>
