<% content_for(:page_title) { truncate(@post.title) } %>
<p>
  <strong><%= Post.human_attribute_name(:title) %>:</strong>
  <%= @post.title %>
</p>
<%= link_to t('helpers.edit'), edit_post_path(@post) %> |
<%= link_to t('helpers.back'), posts_path %>
<%= render partial: '/comments/comments', locals: { commentable: @post, new_comment: @comment } %>
