<header>
  <h1><%= ["Blog", yield(:page_title).presence].compact.join(' - ') %></h1>
  <nav><%= link_to 'Home', root_path %> / <%= link_to 'Posts', posts_path %> / <%= link_to 'Links', links_path %> / <%= link_to 'About', pages_about_path %></nav>
</header>
